<!DOCTYPE html>
<html lang="pt-BR">

<head>

  <title>Classic Pizzaria</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Language" content="pt-br">
  <meta http-equiv="Content-Type" content="text/html; charset-utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

  <meta name="google" value="notranslate">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="language" content="PT-BR">

  <meta name="author" content="Micael | Discord: MICAZEERA • MITECH#1202">

  <!---CSS IMPORTS-->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/verpedido.css">
  <link rel="stylesheet" href="/css/historico.css">





  <!---UTIL IMPORTS-->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://kit.fontawesome.com/074b308a9e.js"></script>

</head>