<div class="sidebar">


  <ul class="nav-links">

    <li>
      <a href="/pedidos">
        <i class='bx bx-list-ul'></i>
        <span class="link_name">Pedidos</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Pedidos</a></li>
      </ul>
    </li>

    <li>
      <a href="/historico">
        <i class='bx bx-history'></i>
        <span class="link_name">Histórico</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Histórico</a></li>
      </ul>
    </li>



    <li>
      <div class="profile-details" style="left: 0;">

        <div class="profile-content">
          <img src="/img/profile.png" alt="profileImg">
        </div>

        <div class="name-job">
          <div class="profile_name">Custom Pizzaria</div>
        </div>

      </div>
    </li>

  </ul>
</div>